<html>
<title>College Network Feed</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans", sans-serif
  }
</style>

<body class="w3-theme-l5">

  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:50px; margin-bottom: 50px;">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <hr>
            <p class="w3-center">
              <img src={{#if pageData.user.user_pic}} {{pageData.user.user_pic}} {{else}} '/images/user.webp' {{/if}}
                alt="user_profile_pic" style="height: 200px;" class="w3-circle"></p>
            <h3 class="w3-center">{{pageData.user.name}}</h3>
            <hr>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i>{{pageData.user.email}}</p>
            <p><i
                class="fa fas fa-transgender-alt fa-fw w3-margin-right w3-text-theme"></i>{{#if pageData.user.gender}}{{pageData.user.gender}}ale{{else}}Gender{{/if}}
            </p>
            <p><i class="fa fas fa-university fa-fw w3-margin-right w3-text-theme"></i> {{pageData.user.college_name}}</p>
            <p><i class="fa fas fa-graduation-cap fa-fw w3-margin-right w3-text-theme"></i>{{pageData.user.graduation_year}}</p>
            <p><i class="fas fa-mobile-alt fa-fw w3-margin-right w3-text-theme"></i>{{pageData.user.contact_number}}</p>
          </div>
        </div>
        <br>

        <br>
        <a href="#" data-toggle="modal" data-target="#updateModal">
          <div class="w3-card w3-round w3-white w3-hide-small">
            <div class="w3-container unique-color"
              style=" padding: 10px 5px; text-align: center; color: white; font-weight: 500;">Update
            </div>
          </div>
        </a>

        <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div class="w3-col m7">

        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <h6 class="w3-opacity">The College Network</h6>
                <p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
                <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
              </div>
            </div>
          </div>
        </div>

        {{#each pageData.posts}}
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          <img src="" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <span class="w3-right w3-opacity">{{updatedAt}}</span>
          <h4>{{postedBy.firstName}}</h4><br>
          <hr class="w3-clear">
          <p>{{caption}}</p>


          <button type="button" id="likebutton{{@index}}" onclick="likePost('{{_id}}','{{@index}}')"
            class="w3-button w3-theme-d1 w3-margin-bottom">
            <i class="fa fa-thumbs-up">&nbsp;</i>
            <span id="likes{{@index}}">{{likes}}</span>
            Likes</button>


          <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>
             Comment</button>
        </div>{{/each}}

        <!-- End Middle Column -->
      </div>
    </div>
  </div>

  <div class="modal fade" id="verifiedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog .modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Email Verified</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Congratulations! Your account email address has been successfully verified. Welcome to the COLLEGE NETWORK.
          Please update your profile.
        </div>
        <div class="modal-footer">
          <button data-toggle="modal" data-target="#updateModal" type="button" class="btn btn-primary"
            data-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-md" role="document">
      <!--Content-->
      <div class="modal-content">

        <!--Header-->
        <div class="modal-header">
          <img src="images/pass.jpg" alt="avatar" class="rounded-circle img-responsive">
        </div>
        <!--Body-->
        <div class="modal-body text-center mb-1">

          <h5 class="mt-1 mb-2">{{user.name}}</h5>

          <div class="md-form ml-0 mr-0">
            <input type="password" id="old-pass" class="form-control form-control-md validate ml-0">
            <label id="label-old-pass" for="old-pass" class="ml-0">Old password</label>
          </div>

          <div class="md-form ml-0 mr-0">
            <input type="password" id="new-pass" class="form-control form-control-md validate ml-0">
            <label id="label-new-pass" for="new-pass" class="ml-0">New password</label>
          </div>

          <div class="md-form ml-0 mr-0">
            <input type="password" id="new-pass-2" class="form-control form-control-md validate ml-0">
            <label id="label-new-pass-2" for="new-pass-2" class="ml-0">Confirm new password</label>
          </div>

          <div class="text-center mt-4">
            <button class="btn blue-gradient mt-1" onclick="validateChangePassword()">Change Password&nbsp <i
                class="fas fa-unlock"></i></button>
          </div>
          <br>
          <p id="change-pass-error" style="text-align: center;"></p>
        </div>

      </div>
      <!--/.Content-->
    </div>
  </div>


  <!-- Button trigger modal -->
  {{!-- <button id="modalActivate" type="button" class="btn btn-danger" data-toggle="modal" data-target="#updateModal">
  Launch demo modal
</button> --}}
  <!-- Modal -->
  <div class="modal fade left" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-left" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Update Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="border border-light p-5" enctype="multipart/form-data">

            <input class="form-control mb-4" id="user_name" type="text" placeholder="Name" value="{{pageData.user.name}}">

            <input class="form-control mb-4" id="user_email" disabled type="email" placeholder="Email"
              value="{{pageData.user.email}}">

            <label for="user_gender">Gender</label>
            <select class="browser-default custom-select mb-4" id="user_gender">
              <option value="M">Male</option>
              <option value="Fem">Female</option>
            </select>

            <div class="input-group mb-4">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="user_pic" id="user_pic" aria-describedby="user_pic">
                <label class="custom-file-label" for="user_pic">Profile Picture</label>
              </div>
            </div>

            <input class="form-control mb-4" id="user_contact" type="text" placeholder="Contact"
              value="{{pageData.user.contact_number}}">

            <input class="form-control mb-4" id="user_gradYear" type="text" placeholder="Graduation Year"
              value="{{pageData.user.graduation_year}}">

          </form>
        </div>
        <p id="update-error"></p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="updateProfile()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>