<video id="videoBG" poster="images/homepage.png" autoplay muted loop>
    <source src="videos/homepage.mp4" type="video/mp4">
</video>
<div id="container">
    <div id="textdiv">
        <h1 style="color: white !important;">{{heading}}</h1>
        <p style="color: white !important;">{{info}}</p>
        <br>
        {{#if home}}
        <a style="color: white;" href="#" data-toggle="modal" data-target="#modalRegisterForm"><button
                class="btn btn-light" style="font-size: 18px;">{{cta}}</button></a>
        {{else}}
        <a style="color: white;" href="#"><button class="btn btn-light" style="font-size: 18px;"
                onclick="resendemail()">{{cta}}</button></a>
                <hr>
                <p id="resend-msg" style="color: white !important;"></p>
        {{/if}}
    </div>
</div>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgb(255, 199, 153)">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="email" class="form-control validate">
                    <label id="invalid-login-email" for="email">Your email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" id="password" class="form-control validate">
                    <label id="invalid-login-pass" for="password">Your password</label>
                </div>

                <div style="text-align: center; margin-bottom: 15px; color: black;">
                    <a href="javascript:passModal()">Forgot password?</a>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn peach-gradient btn-rounded z-depth-1a waves-effect waves-light"
                        style="color: white;font-weight: 600;font-size: 15px;" onclick="validateLogin()">Login</button>
                </div>
                <p id="error" style="color: black; text-align: center;"></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resetPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgb(255, 199, 153)">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Reset Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="regMail" class="form-control validate">
                    <label id="label-regMail" for="email">Your email</label>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn peach-gradient btn-rounded z-depth-1a waves-effect waves-light"
                        style="color: white;font-weight: 600;font-size: 15px;"
                        onclick="validateResetEmail()">Reset</button>
                </div>
                <p id="reset-error" style="color: black; text-align: center;"></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgb(255, 199, 153)">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="name" class="form-control validate">
                    <label id="invalid-name" for="name">Your name</label>
                </div>
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="r_email" class="form-control validate">
                    <label id="invalid-email" for="r_email">Your email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" id="r_password" class="form-control validate">
                    <label id="invalid-pass" for="r_password">Your password</label>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn peach-gradient" style="color: white;font-weight: 600;font-size: 15px;"
                        onclick="validateRegistration()">Sign up</button>
                </div>
                <p id="r_error" style="color: black; text-align: center;"></p>
            </div>

        </div>
    </div>
</div>