<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/homepage.css" />
  <link rel="stylesheet" href="/stylesheets/toastr.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>
  <script type="text/javascript" src="/javascripts/toastr.js"></script>
</head>

<body>
  {{#if user}}
  <!--Navbar -->
  <nav class="mb-1 navbar navbar-expand-sm navbar-dark unique-color lighten-1">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" height="40" alt="tcn logo"><strong style="font-weight: bold;"> &nbspCollege
        Network</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src={{#if user.user_pic}} {{user.user_pic}} {{else}} '/images/user.webp' {{/if}} class="rounded-circle z-depth-0"
              alt="avatar image" style="height: 35px;">
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
            aria-labelledby="navbarDropdownMenuLink-55">
            <a class="dropdown-item" href="" data-toggle="modal" data-target="#modalLoginAvatar">Change Password</a>
            <a class="dropdown-item" href="javascript:signOut()">Sign Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
  {{else}}
  <!--Navbar -->
  <nav class="navbar fixed-top navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" height="40" alt="tcn logo"><strong style="font-weight: bold;"> &nbspCollege
        Network</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#resendEmail"><span
              style="font-weight: 600;">Verify Email &nbsp</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#modalRegisterForm"><span
              style="font-weight: 600;"> &nbsp Sign Up &nbsp</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLoginForm"><span
              style="font-weight: 600;"> &nbsp Sign In &nbsp</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
  {{/if}}
  {{{body}}}
  <!-- Footer -->
  <footer class="page-footer font-small transparent">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2020 Copyright:
      <a href="">The College Network</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>

</html>